<Project>
  <PropertyGroup>
    <!-- Copy build output into BepInEx/plugins/ after a successful build. -->
    <DeployModFilesEnabled>true</DeployModFilesEnabled>

    <!-- Set if the default steam game install directory doesn't work. -->
    <!-- <BongoCatGameRootDir></BongoCatGameRootDir> -->

    <!-- Set if your BepInEx/plugins/ directory isn't in the game files. -->
    <!-- <BongoCatPluginsDir></BongoCatPluginsDir> -->
  </PropertyGroup>
</Project>
